<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter Au liste des reservation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addReservation" (ngSubmit)="addReservationF()">

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="mb-3 col-md-10 text-center">
                        <label for="exampleFormControlInput1" class="form-label">CIN</label>
                        <select class="form-select" aria-label="Default select example" formControlName="cinClient" *ngIf="clients;">
                            <option value="{{client.cin}}" *ngFor="let client of clients">{{client.cin}}</option>
                        </select>                  
                    </div>
                    <div class="col-md-1"></div>
                  
                </div>
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #CloseBookBtn4>Fermer</button>
              <button type="submit" class="btn btn-primary" >Ajouter</button>
            </div>    
          </form>

        </div>

      </div>
    </div>
  </div>