<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-7 mt-5 fw-bolder fs-4 text-info">L'auteur du livre est {{book.auteur}}</div>
    </div>
    <div class="row container mt-5">
        <div class="col-md-2"></div>
        <div class="card col-md-8">
            <div class="row">
              <div class="col-md-4">
                <img src="{{book.linkImage}}" style="min-height: 300px; max-height: 200px; object-fit: contain;" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-center">{{book.titre}}</h5>
                  <h6 class="mt-5">Description :</h6>
                  <p class="card-text fw-light">{{book.shortDesc}}</p>
                  <div class="d-flex justify-content-between mt-3">
                    <p class="card-text"><small class="text-muted">Nombre d'exemplaire: {{book.nombreExemplaire}}</small></p>
                    <p class="card-text"><small class="text-muted">Date d'édition: {{book.dateEdition}}</small></p>
                  </div>
                <div class="d-flex justify-content-center mt-2" *ngIf="louer">
                    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Louer</button>
                    <app-location [Binding]="bookId"></app-location>
                </div>
                <div class="d-flex justify-content-center mt-2" *ngIf="preter">
                  <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal2">Preter</button>
                  <app-pretation-book [bookId]="bookId"></app-pretation-book>
               </div>
               <div class="d-flex justify-content-center mt-2" *ngIf="reservation">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">Ajouter Au liste de reservation</button>
                <button class="btn btn-outline-success ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">Afficher la liste de reservation</button>

                <!-- Modal -->
                  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">La liste des reservation</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Client CIN</th>
                                <th scope="col">Date</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let res of listReservation">
                              <tr>
                                <th scope="row">{{res.client.cin}}</th>
                                <td>{{res.date}}</td>
                              </tr>
                            </tbody>
                          </table>

                        </div>

                      </div>
                    </div>
                  </div>
               
                <app-liste-reservation [bookId]="bookId"></app-liste-reservation>
             </div>
                </div>
              </div>
            </div>
        </div>
    
    </div>
</div>