<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addPretation" (ngSubmit)="addPretationF()">

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="mb-3 col-md-10 text-center">
                        <label for="exampleFormControlInput1" class="form-label">Code Adherent</label>
                        <select class="form-select" aria-label="Default select example" formControlName="codeAdherent" *ngIf="Adherents;">
                            <option selected >Open this select menu</option>
                            <option value="{{Adherent.codeAdherent}}" *ngFor="let Adherent of Adherents">{{Adherent.codeAdherent}}</option>
                        </select>                  
                    </div>
                    <div class="col-md-1"></div>
                  
                </div>
               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #CloseBookBtn3>Fermer</button>
              <button type="submit" class="btn btn-primary" >Ajouter</button>
            </div>    
          </form>

        </div>

      </div>
    </div>
  </div>